.room 
    position: relative;
    height: 100%;
    width: 100%;

.body
    //overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 70pt;
    width: 100%;

.footer
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5pt 0 20pt 0;
    border-top: 3pt solid #f2f2f2;
    background: white;
    
    .message-form-container
        input
            background: transparent !important;
            border: none !important;