.message
    display: table;
    width: 100%;
    margin-bottom: 20pt;

.left
    display: table-cell;
    vertical-align: bottom;
    width: 1%;
    
    .avatar
        width: 20pt;
        height: 20pt;
        background: black;
        border-radius: 50%;
        overflow: hidden;
    
        img
            width: 100%;
            height: auto;

.right
    display: table-cell;
    vertical-align: bottom;
    padding-left: 10pt;
    
    .footer
        font-size: 0.8em;
        
        .separator
            margin: 0 1em;

        .nickname
            font-weight: 800;

/*.message
    .text
        padding-left: 25pt;
    
    .footer
        .avatar
            display: inline-block;
            vertical-align: middle;
            width: 20pt;
            height: 20pt;
            background: black;
            border-radius: 50%;
            
        .content
            display: inline-block;
            vertical-align: middle;
            padding-left: 5pt;
            font-size: 0.8em;
            
            .nickname
                font-weight: 800;*/